<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>jums.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertconfirm</servlet-name>
        <servlet-class>jums.InsertConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertresult</servlet-name>
        <servlet-class>jums.InsertResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>jums.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>jums.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultDetail</servlet-name>
        <servlet-class>jums.ResultDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>jums.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResult</servlet-name>
        <servlet-class>jums.UpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>jums.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResult</servlet-name>
        <servlet-class>jums.DeleteResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertconfirm</servlet-name>
        <url-pattern>/insertconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertresult</servlet-name>
        <url-pattern>/insertresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultDetail</servlet-name>
        <url-pattern>/ResultDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResult</servlet-name>
        <url-pattern>/UpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResult</servlet-name>
        <url-pattern>/DeleteResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
